section
{
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    background-color: grey;
}

article
{
    border: 2px solid green;
    margin: auto;
}